[submodule "vim/bundle/vim-colors-solarized"]
	path = .vim/bundle/vim-colors-solarized
	url = https://github.com/altercation/vim-colors-solarized.git
[submodule "vim/pathogen"]
	path = .vim/pathogen
	url = https://github.com/tpope/vim-pathogen.git
[submodule "vim/bundle/vim-sensible"]
	path = .vim/bundle/vim-sensible
	url = https://github.com/tpope/vim-sensible.git
[submodule ".zload"]
	path = .zplug
	url = https://github.com/zplug/zplug.git
