TMPPREFIX=~/tmp/zsh-
mkdir -p ~/tmp


## Powerlevel Theme settings

# Enable fa icon support
POWERLEVEL9K_MODE='awesome-fontconfig'

#Global settings
DEFAULT_USER='lucas'
POWERLEVEL9K_LEFT_PROMPT_ELEMENTS=('status' 'background_jobs' 'root_indicator' 'context' 'dir' 'vcs')
POWERLEVEL9K_RIGHT_PROMPT_ELEMENTS=('history' 'time' 'battery')
POWERLEVEL9K_PROMPT_ON_NEWLINE=true
POWERLEVEL9K_MULTILINE_FIRST_PROMPT_PREFIX=""
POWERLEVEL9K_MULTILINE_SECOND_PROMPT_PREFIX="❯ "


POWERLEVEL9K_SHORTEN_DIR_LENGTH=3
POWERLEVEL9K_SHORTEN_STRATEGY="truncate_middle"
POWERLEVEL9K_VCS_STAGED_ICON="+"
POWERLEVEL9K_VCS_UNTRACKED_ICON="?"
POWERLEVEL9K_VCS_INCOMING_CHANGES_ICON="\u2193"
POWERLEVEL9K_VCS_OUTGOING_CHANGES_ICON="\u2191"
POWERLEVEL9K_SHOW_CHANGESET="true"
POWERLEVEL9K_CHANGESET_HASH_LENGTH="12"
POWERLEVEL9K_VCS_MODIFIED_BACKGROUND="clear"
POWERLEVEL9K_VCS_UNTRACKED_BACKGROUND="clear"
POWERLEVEL9K_VCS_MODIFIED_FOREGROUND="yellow"
POWERLEVEL9K_VCS_UNTRACKED_FOREGROUND="yellow"
POWERLEVEL9K_DIR_HOME_BACKGROUND="clear"
POWERLEVEL9K_DIR_HOME_FOREGROUND="blue"
POWERLEVEL9K_DIR_HOME_SUBFOLDER_BACKGROUND="clear"
POWERLEVEL9K_DIR_HOME_SUBFOLDER_FOREGROUND="blue"
POWERLEVEL9K_DIR_DEFAULT_BACKGROUND="clear"
POWERLEVEL9K_DIR_DEFAULT_FOREGROUND="white"
POWERLEVEL9K_ROOT_INDICATOR_BACKGROUND="red"
POWERLEVEL9K_ROOT_INDICATOR_FOREGROUND="white"
POWERLEVEL9K_HISTORY_BACKGROUND="clear"
POWERLEVEL9K_HISTORY_FOREGROUND="blue"
POWERLEVEL9K_STATUS_OK_BACKGROUND="clear"
POWERLEVEL9K_STATUS_OK_FOREGROUND="green"
POWERLEVEL9K_STATUS_ERROR_BACKGROUND="clear"
POWERLEVEL9K_STATUS_ERROR_FOREGROUND="red"
POWERLEVEL9K_TIME_BACKGROUND="clear"
POWERLEVEL9K_TIME_FOREGROUND="white"
POWERLEVEL9K_TIME_FORMAT="%D{\uf017 %H:%M \uf073 %d.%m.%y}"
POWERLEVEL9K_STATUS_VERBOSE="true"
POWERLEVEL9K_BATTERY_LOW_BACKGROUND="clear"
POWERLEVEL9K_BATTERY_CHARGING_BACKGROUND="clear"
POWERLEVEL9K_BATTERY_CHARGED_BACKGROUND="clear"
POWERLEVEL9K_BATTERY_DISCONNECTED_BACKGROUND="clear"
POWERLEVEL9K_CONTEXT_DEFAULT_BACKGROUND="clear"
POWERLEVEL9K_CONTEXT_ROOT_BACKGROUND="clear"

case $USER in
 # Uberspace path maniplulation
  (denocte)
    POWERLEVEL9K_CONTEXT_DEFAULT_FOREGROUND="red"
      ;;
  (roang)
    POWERLEVEL9K_CONTEXT_DEFAULT_FOREGROUND="green"
      ;;
  (*) ;;
esac

POWERLEVEL9K_CONTEXT_DEFAULT_FOREGROUD=""

source ~/tools/zsh/zgen/zgen.zsh
# if the init script doesn't exist
if ! zgen saved; then

  # Load plugins
  zgen oh-my-zsh
  zgen oh-my-zsh plugins/common-aliases
  zgen oh-my-zsh plugins/dirhistory
  zgen oh-my-zsh plugins/extract
  zgen oh-my-zsh plugins/git
  zgen oh-my-zsh plugins/git-extras
  zgen oh-my-zsh plugins/mosh
  zgen oh-my-zsh plugins/npm
  zgen oh-my-zsh plugins/tmux
  zgen oh-my-zsh plugins/wd

  # Tips for defined aliases
  zgen load djui/alias-tips

  # Peco History search
  zgen load jimeh/zsh-peco-history

  # Better directory listings
  zgen load supercrabtree/k

  # Load Theme
  zgen load bhilburn/powerlevel9k powerlevel9k

  # Dircolors solarized
  zgen load joel-porquet/zsh-dircolors-solarized

  # Solarized manuals
  zgen load zlsun/solarized-man

  # Load additional completions
  zgen load zsh-users/zsh-completions src

  zgen load zsh-users/zsh-syntax-highlighting
  zgen load zsh-users/zsh-autosuggestions

  # Load 256 Term colors
  zgen load chrissicool/zsh-256color

  # generate the init script from plugins above
  zgen save
fi

# Dir
POWERLEVEL9K_DIR_PATH_SEPARATOR=" $(print_icon 'LEFT_SUBSEGMENT_SEPARATOR') "

# Get hostname if environment variable is empty
if [ -z "$HOSTNAME" ]; then
  HOSTNAME=$(hostname)
fi

# Change history to be shared
HISTFILE=~/.zhistory
HISTSIZE=SAVEHIST=5000
setopt HIST_IGNORE_ALL_DUPS
setopt HIST_EXPIRE_DUPS_FIRST
setopt HIST_REDUCE_BLANKS
setopt incappendhistory
setopt sharehistory
setopt extendedhistory

# Change autosuggestions colour
ZSH_AUTOSUGGEST_HIGHLIGHT_STYLE=fg=4

# bindkey
bindkey -e

# load aliases
source ~/tools/zsh/aliases.zsh

source ~/tools/zsh/bindkeys.zsh

# load completion
source ~/tools/zsh/completion/init.zsh

# Init solarized dir colours
setupsolarized dircolors.ansi-dark
zstyle ':completion:*:default' list-colors ${(s.:.)LS_COLORS}

alias ls='ls --color=auto'
alias vi='vim'

typeset -U path

# Export for tmux
export EDITOR='vim'

case $HOSTNAME in
  # Uberspace path maniplulation
  (canopus.uberspace.de)
    path=($HOME/.toast/armed/bin/zsh $path)
    path=(/package/host/localhost/nodejs-5/bin $path)
    path+=($HOME/.composer/vendor/bin)
    path+=(~/.gem/ruby/2.2.0/bin)
    path+=(~/src/go/bin)
    export MANPATH=$HOME/.toast/armed/share/man:/usr/local/share/man:/usr/share/man/overrides:/usr/share/man/en:/usr/share/man:/var/qmail/man:/usr/man:/usr/local/man
    export GOPATH=~/src/go
      ;;
  (travelbuntu)
    path+=(~/.cargo/bin)
    source /usr/local/share/chruby/chruby.sh
    source /usr/local/share/chruby/auto.sh
      ;;
  (*) ;;
esac

# ssh-agent via keychain
eval $(keychain --eval --agents ssh --timeout 120 id_ed25519 id_rsa)

